.theme--light.v-application {
    background-color: antiquewhite;
}

.v-app-bar {
    padding: 0 100px 0 100px;
}

.v-main {
    margin: 30px 100px 0 100px;
}

.v-btn {
    text-transform: capitalize;
}

.list-btn {
    .v-btn:before {
        background-color: transparent !important;
    }
}

.container {
    width: auto;
}


.payment-detail {
    .v-card {
        padding: 20px;
        border-radius: 10px;
    }

    .back-btn {
        display: flex;
        justify-items: baseline;
        align-items: center;
    }

    .deliverd-type {
        .v-icon {
            margin-right: 10px;
        }

        .v-radio {
            padding: 12px;
            border: 1px solid gray;
            border-radius: 3px;
        }

        .radio-label {
            display: flex;
            justify-content: baseline;
        }
    }

    .deliveryPrice {
        tr {
            display: flex;
            justify-content: space-between;
        }
    }

    .total-saving {
        display: flex;
        justify-content: space-between;
        border: 2px solid rgb(34, 201, 123);
        color: rgb(34, 201, 123);
        background-color: rgb(234, 255, 245);
        padding: 12px;
        border-radius: 5px;
    }
}